.passenger-details-trips-page {
  //   border: 2px solid orange;
  margin-top: 10rem;

  input {
    border: none !important;
  }
}

.similar-trip-card-container {
  width: 100%;
  margin-top: 1rem;
  // border: 1px solid red;
}

.similar-trip-card {
  width: 100%;
  height: 22rem;
  border-radius: 20px;
  overflow: hidden;
  // border: 1px solid red;
  font-size: 0.7rem;
  h3 {
    padding: 0;
    font-size: 1rem;
    color: #fff;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  .similar-trip-card-head {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      height: 8rem;
    }
    & button {
      background-color: #fff;
      padding: 0.3rem 0rem;
      border-radius: 1.2rem;
      font-size: 0.6rem;
      width: 50%;
      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 34%;
        font-size: 0.68rem;
      }
      @media screen and (min-width: 1280px) and (max-width: 1399px) {
        font-size: 0.5rem;
      }
    }

    & img {
      @media screen and (min-width: 320px) and (max-width: 767px) {
        width: 2rem;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 28rem;
  }
}

.similar-trip-timeline {
  width: 0.88rem;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 1.2rem;
  }
}

.similarcard-pickup {
  margin-top: -0.4rem;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 1rem !important;
  }

  & .simil-card-pickup {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 0.7rem !important;
    }
  }
}

.similarcard-destination {
  margin-top: 2.4rem !important;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 4rem !important;
    font-size: 1rem !important;
  }

  & .simil-card-pickup {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 0.7rem !important;
    }
  }
}

.similiar-tripcard-footer {
  @media screen and (min-width: 1280px) and (max-width: 1399px) {
    font-size: 0.5rem;
    padding: 0;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 1rem !important;
  }
}
