.hotel-hero {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    min-height: 65vh;
  }
  @media screen and (min-width: 1280px) and (max-width: 1399px) {
    width: 85%;
    margin: auto;
  }
  & button {
    @media screen and (min-width: 1680px) {
      padding: 1.2rem 4rem;
      font-size: 1.4rem;
    }
  }
  @media screen and (min-width: 1680px) {
    min-height: 80vh;
    margin: auto;
  }
  & h2 {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 2.2rem;
      line-height: 3rem;
    }
    @media screen and (min-width: 1280px) and (max-width: 1399px) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    @media screen and (min-width: 1680px) {
      font-size: 3.8rem;
      line-height: 4.8rem;
      margin-bottom: 0.8rem;
    }
  }
}

.product-card {
  & ._hotel-card-bodyText {
    font-size: 0.88rem;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 0.8rem;
    }
    @media screen and (min-width: 1280px) and (max-width: 1399px) {
      font-size: 0.7rem;
    }
    @media screen and (min-width: 1680px) {
      font-size: 0.96rem;
    }
  }

  & ._hotel-name {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 1.4rem;
    }
  }

  & ._hotel-card-price {
    font-size: 1rem !important;
    @media screen and (min-width: 1280px) and (max-width: 1399px) {
      font-size: 0.88rem !important;
    }
    @media screen and (min-width: 1680px) {
      font-size: 1.2rem !important;
    }
  }
}
