.travelers-club-hero {
  @media screen and (min-width: 1680px) {
    min-height: 80vh;
  }
  & h2 {
    @media screen and (min-width: 1680px) {
      font-size: 4.5rem;
      margin-bottom: 0.8rem;
    }
  }
}
