@import url("https://fonts.cdnfonts.com/css/creato-display");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Creato Display", sans-serif;
}
button {
  border: none !important;
}
@font-face {
  font-family: "Creato";
  src: url("https://fonts.cdnfonts.com/css/creato-display") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body.no-scroll {
  font-family: "Creato Display", sans-serif;
  overflow: hidden;
}

/* .herobg1 {
  background: url("./assets/images/herobg1.svg") !important;
  background-size: cover;
} */

.fontlight {
  font-weight: 50;
  font-family: "Creato Display", sans-serif;
}

input {
  height: 46px !important;
}

input[type="text"] {
  border: 1px solid red !important;
}
select {
  height: 46px !important;
}
.swiper-pagination-bullet-active {
  background-color: #63e663 !important;
}

.boxShadow {
  box-shadow: -17px -5px 53px -23px rgba(0, 0, 0, 0.1);
}

.module-hero {
  @media screen and (min-width: 1680px) {
    min-height: 80vh;
  }
  & h2 {
    @media screen and (min-width: 1680px) {
      font-size: 4.5rem;
      margin-bottom: 0.8rem;
    }
  }
}

.boxShadow-main {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.homepage-tansit-img {
  @media screen and (min-width: 1200px) and (max-width: 1439px) {
    width: 24.5rem !important;
    margin-top: 2rem;
  }
}
