.stepper-card {
  background-color: #fff;
  min-height: 5rem;
  width: 20rem;
  padding: 0.8rem;

  @media screen and (min-width: 320px) and (max-width: 560px) {
    width: 90%;
    margin: auto;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    height: 10rem;
  }

  @media screen and (min-width: 1680px) {
    width: 24rem;
    min-height: 18rem;
  }
}
