.navTabsContainer {
  width: 60%;
  ul {
    justify-content: space-between;
    width: 100%;
  }
  @media screen and (min-width: 1680px) {
    // border: 2px solid #5d00ff;
  }

  @media screen and (min-width: 1280px) and (max-width: 1399px) {
    width: 55%;
    ul {
      justify-content: space-between;
      width: 100%;
      row-gap: 0.4rem;
      gap: 1rem;
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    width: 60%;

    ul {
      justify-content: space-between;
      width: 100%;
      gap: 0.2rem;

      li {
        font-size: 0.8rem !important;
      }
      div {
        font-size: 0.8rem !important;
      }
    }

    .getcardBtn {
      font-size: 0.6rem !important;
      padding: 1rem !important;
      height: 1rem !important;
      width: 5rem;
    }
  }
}

.navBarBtn_Container {
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    width: 22%;

    button {
      width: 6rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8rem;
    }
  }
}

.tabs-container {
  @media screen and (min-width: 1680px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5rem;
    // justify-content: space-between ;
    width: 100%;
  }
}

.navbar-items {
  @media screen and (min-width: 1680px) {
    font-size: 1.24rem;
  }
}

.navbar-btns {
  & button {
    @media screen and (min-width: 1680px) {
      font-size: 1.24rem;
      padding: 0.8rem 2rem !important;
    }
  }
}

.navbar-select {
  border: none !important;

  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border: none !important;
  }

  fieldset {
    border: none !important;
  }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 0px !important;
  }

  // .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  //     position: none !important;
  // }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    width: 0 !important;
  }

  input {
    border: none !important;
  }

  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border: 1px solid rgb(187, 73, 73);
  }
}

.travelersClub-tab {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 0.2rem;
  position: relative;

  span {
    display: block;
  }

  .arrow-down {
    font-size: 10px;
    color: black;
    text-align: center;
    margin: 20px auto;
  }
}

.travelersItems-container-t {
  position: absolute;
  top: 6.58rem;
  background-color: #fff;
  width: 38rem;
  min-height: 4rem;
  padding: 0.8rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  @media screen and (min-width: 1680px) {
    width: 40rem;
    top: 8.58rem;
  }

  @media screen and (min-width: 240px) and (max-width: 559px) {
    width: 100%;
    top: -4rem;
    background-color: white;
    z-index: 4000;
    min-height: 31rem;
  }

  & .item {
    width: 100%;
    cursor: pointer;
  }
}

.travelersItems-container-m-t {
  position: absolute;
  top: 8.5rem;
  background-color: #fff;
  width: 13rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;

  & .item {
    width: 100%;
    cursor: pointer;
  }

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.travelersItems-container-card {
  position: absolute;
  top: 6.58rem;

  background-color: #fff;
  width: 38rem;
  min-height: 4rem;
  padding: 0.8rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  @media screen and (min-width: 1680px) {
    width: 40rem;
    top: 8.58rem;
  }

  @media screen and (min-width: 240px) and (max-width: 559px) {
    width: 100%;
    top: -6rem;
    min-height: 20rem;
    min-height: 30rem;
    z-index: 3000;
  }

  & .item {
    width: 100%;
    cursor: pointer;
  }
}

.travelersItems-container-m-card {
  position: absolute;
  top: 8.5rem;
  background-color: #fff;
  width: 13rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;

  & .item {
    width: 100%;
    cursor: pointer;
  }

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.travelersItems-container-comp {
  position: absolute;
  top: 6.58rem;
  background-color: #fff;
  right: 5rem;
  width: 40rem;
  min-height: 4rem;
  padding: 0.8rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  @media screen and (min-width: 1680px) {
    width: 40rem;
    top: 8.58rem;
    right: 10rem;
  }

  @media screen and (min-width: 240px) and (max-width: 559px) {
    width: 100%;
    right: unset;
    top: -16rem;
    min-height: 20rem;
    min-height: 30rem;
    z-index: 3000;
  }

  & .item {
    width: 100%;
    cursor: pointer;
  }
}

.travelersItems-container-m-comp {
  position: absolute;
  top: 8.5rem;
  background-color: #fff;
  width: 13rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;

  & .item {
    width: 100%;
    cursor: pointer;
  }

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.travelersItems-container {
  position: absolute;
  top: 6.58rem;
  background-color: #fff;
  width: 10rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;

  & .item {
    width: 100%;
    cursor: pointer;
  }
}

.travelersItems-container-m {
  position: absolute;
  top: 8.5rem;
  background-color: #fff;
  width: 13rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;

  & .item {
    width: 100%;
    cursor: pointer;
  }

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
